<template>
  <div>
    <v-sheet
      height="64"
      rounded="lg"
    >
      <v-toolbar flat>
        <v-btn
          outlined
          class="mr-4"
          color="grey darken-2"
          @click="setToday"
        >
          Today
        </v-btn>
        <v-btn
          fab
          text
          small
          color="grey darken-2"
          @click="prev"
        >
          <v-icon small>
            mdi-chevron-left
          </v-icon>
        </v-btn>
        <v-toolbar-title v-if="$refs.calendar">
          {{ $refs.calendar.title }}
        </v-toolbar-title>
        <v-btn
          fab
          text
          small
          color="grey darken-2"
          @click="next"
        >
          <v-icon small>
            mdi-chevron-right
          </v-icon>
        </v-btn>
        <v-spacer />
      </v-toolbar>
    </v-sheet>

    <v-sheet height="600">
      <v-calendar
        ref="calendar"
        v-model="focus"
        type="month"
        :events="events"
      />
    </v-sheet>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { ToDoItem } from '@/models';

interface VCalendar extends Vue {
  prev: () => void;
  next: () => void;
  checkChange: () => void;
}

export default Vue.extend({
  name: 'Calendar',

  data() {
    return {
      type: 'month',
      value: '',
      focus: '',
    };
  },

  computed: {
    events() {
      const events: {[key: string]: string|Date|boolean|undefined}[] = [];
      const items = this.$store.getters.itemList.filter(
        (item: ToDoItem) => item.due,
      );
      items.forEach((item: ToDoItem) => {
        events.push({
          name: item.title,
          start: item.due,
          end: item.due,
          timed: true,
        });
      });
      return events;
    },
  },

  mounted() {
    (this.$refs.calendar as VCalendar).checkChange();
  },

  methods: {
    setToday() {
      this.focus = '';
    },
    prev() {
      (this.$refs.calendar as VCalendar).prev();
    },
    next() {
      (this.$refs.calendar as VCalendar).next();
    },
  },
});
</script>
