<template>
  <v-sheet
    min-height="70vh"
    rounded="lg"
    class="pa-4"
  >
    <h1>Home</h1>
    <h3>Welcome to Toot-do!</h3>
    <p>
      Toot-do is a simple to-do list application that keeps your data safe in your browser using <a
        href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage"
      ><code>localStorage</code></a>.
    </p>
    <p>To get started, create a new to-do list, then start adding to-do items.</p>
    <p>Oh! And don't forget about the search and calendar view, accessible from the main menu.</p>
  </v-sheet>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Home',
});
</script>
