<template>
  <v-card
    v-if="list"
    max-width="600"
    rounded="lg"
    class="mx-auto"
  >
    <v-toolbar
      color="amber lighten-5"
      flat
    >
      <v-toolbar-title>{{ list.title }}</v-toolbar-title>

      <v-spacer />

      <to-do-list-edit :list="list" />
    </v-toolbar>

    <v-list
      two-line
    >
      <v-list-item
        v-for="item in items"
        :key="item.id"
      >
        <v-list-item-action>
          <v-checkbox
            v-model="item.complete"
            @change="updateItemComplete(item)"
          />
        </v-list-item-action>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
          <v-list-item-subtitle v-if="item.description">
            {{ item.description }}
          </v-list-item-subtitle>
          <v-list-item-subtitle v-if="item.due">
            Due: {{ item.due }}
          </v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-action>
          <to-do-item-edit :item="item" />
        </v-list-item-action>
      </v-list-item>
    </v-list>

    <v-divider
      v-if="items.length"
      class="mx-4"
    />

    <v-form @submit.prevent="addToDoItem">
      <v-container>
        <v-row>
          <v-col
            cols="12"
            md="6"
          >
            <v-text-field
              v-model="newItemName"
              label="To-do name"
              dense
              hide-details
              outlined
            />
          </v-col>
          <v-col
            cols="12"
            md="6"
          >
            <v-menu
              ref="datePicker"
              v-model="datePickerOpen"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="due"
                  label="Due Date"
                  prepend-icon="mdi-calendar"
                  v-bind="attrs"
                  dense
                  hide-details
                  outlined
                  v-on="on"
                />
              </template>
              <v-date-picker
                v-model="due"
                no-title
                @input="datePickerOpen = false"
              />
            </v-menu>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-textarea
              v-model="newItemDescription"
              label="Description"
              rows="1"
              hide-details
              outlined
            />
          </v-col>
        </v-row>
      </v-container>
    </v-form>

    <v-card-actions>
      <v-btn
        text
        @click="addToDoItem"
      >
        Add to-do item
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { ToDoItem } from '@/models';
import ToDoListEdit from '@/components/ToDoListEdit.vue';
import ToDoItemEdit from '@/components/ToDoItemEdit.vue';

export default Vue.extend({
  name: 'ToDoList',

  components: { ToDoItemEdit, ToDoListEdit },

  data() {
    return {
      datePickerOpen: false,
      newItemName: '',
      newItemDescription: '',
      due: undefined,
    };
  },

  computed: {
    list() {
      return this.$store.state.lists[this.$route.params.id];
    },

    items() {
      return this.$store.getters.itemList.filter((item: ToDoItem) => item.listId === this.list.id);
    },
  },

  methods: {
    addToDoItem() {
      const item = new ToDoItem(this.newItemName, this.list.id);
      if (this.due) {
        item.due = this.due;
      }
      if (this.newItemDescription) {
        item.description = this.newItemDescription;
      }
      this.$store.commit('addItem', item);
      this.newItemName = '';
      this.newItemDescription = '';
      this.due = undefined;
    },

    updateItemComplete(item: ToDoItem) {
      this.$store.commit('updateItemComplete', item);
    },
  },
});
</script>
