<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        icon
        v-on="on"
      >
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Edit To-Do List</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-text-field
            v-model="list.title"
            outlined
          />
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          text
          @click="close"
        >
          Close
        </v-btn>
        <v-btn
          text
          @click="deleteList"
        >
          Delete
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="addToDoList"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ToDoListEdit',

  props: {
    list: {
      type: Object, required: true,
    },
  },

  data() {
    return {
      dialog: false,
    };
  },

  methods: {
    addToDoList() {
      this.$store.commit('updateListTitle', this.list);
      this.close();
    },

    deleteList() {
      this.$store.commit('deleteList', this.list);
      this.close();
      this.$router.push({ name: 'Home' });
    },

    close() {
      this.dialog = false;
    },
  },
});
</script>
