<template>
  <v-list
    v-if="Object.keys(lists).length"
    nav
    color="transparent"
  >
    <v-list-item
      v-for="(list, id) in lists"
      :key="id"
      :to="{ name: 'ToDoList', params: { id: list.id } }"
      color="amber"
      link
    >
      <v-list-item-content>
        <v-list-item-title>
          {{ list.title }}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider
      class="my-2"
    />
  </v-list>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ToDoLists',

  computed: {
    lists() {
      return this.$store.state.lists;
    },
  },
});
</script>
