<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        Create To-Do List
      </v-list-item>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Create To-Do List</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-text-field
            v-model="newListName"
            outlined
          />
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          text
          @click="close"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="addToDoList"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { ToDoList } from '@/models';

export default Vue.extend({
  name: 'ToDoListCreate',
  data() {
    return {
      dialog: false,
      newListName: '',
    };
  },

  methods: {
    addToDoList() {
      const list = new ToDoList(this.newListName);
      this.$store.commit('addList', list);
      this.close();
      this.$router.push({ name: 'ToDoList', params: { id: list.id } });
    },

    close() {
      this.newListName = '';
      this.dialog = false;
    },
  },
});
</script>
