<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        icon
        v-on="on"
      >
        <v-icon>mdi-eye</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Edit To-Do Item</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col
              cols="12"
              md="6"
            >
              <v-text-field
                v-model="item.title"
                label="To-do name"
                dense
                hide-details
                outlined
              />
            </v-col>
            <v-col
              cols="12"
              md="6"
            >
              <v-menu
                ref="datePicker"
                v-model="datePickerOpen"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="item.due"
                    label="Due Date"
                    prepend-icon="mdi-calendar"
                    v-bind="attrs"
                    dense
                    hide-details
                    outlined
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="item.due"
                  no-title
                  @input="datePickerOpen = false"
                />
              </v-menu>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-textarea
                v-model="item.description"
                label="Description"
                outlined
              />
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          text
          @click="close"
        >
          Close
        </v-btn>
        <v-btn
          text
          @click="deleteItem"
        >
          Delete
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="updateItem"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    item: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      datePickerOpen: false,
      dialog: false,
    };
  },

  methods: {
    updateItem() {
      this.$store.commit('updateItem', this.item);
      this.close();
    },

    deleteItem() {
      this.$store.commit('deleteItem', this.item);
      this.close();
    },

    close() {
      this.dialog = false;
    },
  },
});
</script>
