<template>
  <v-app id="inspire">
    <v-app-bar
      app
      color="white"
      flat
    >
      <v-container class="py-0 fill-height">
        <router-link :to="{name: 'Home'}">
          <img
            class="mr-4"
            src="~@/assets/saxophone.png"
            height="40px"
          >
        </router-link>

        <v-toolbar-title>Toot-Do</v-toolbar-title>

        <v-spacer />

        <v-btn
          :to="{name: 'Calendar'}"
          icon
        >
          <v-icon>mdi-calendar</v-icon>
        </v-btn>

        <v-responsive max-width="260">
          <v-autocomplete
            v-model="selectedAutocompleteItem"
            :items="items"
            :filter="filterToDoItems"
            item-text="title"
            dense
            flat
            hide-details
            return-object
            rounded
            label="Find to-do items"
            solo-inverted
          />
        </v-responsive>
        <v-btn
          v-if="selectedAutocompleteItem"
          :to="{name: 'ToDoList', params: {id: selectedAutocompleteItem.listId}}"
          class="ml-3"
        >
          Go
        </v-btn>
      </v-container>
    </v-app-bar>

    <v-main class="grey lighten-3">
      <v-container>
        <v-row>
          <v-col
            cols="12"
            sm="4"
            lg="2"
            offset="0"
            offset-lg="2"
          >
            <v-sheet rounded="lg">
              <to-do-lists />
              <to-do-list-create />
            </v-sheet>
          </v-col>

          <v-col
            cols="12"
            sm="8"
            lg="4"
          >
            <router-view />
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import { ToDoItem } from '@/models';
import ToDoLists from '@/components/ToDoLists.vue';
import ToDoListCreate from '@/components/ToDoListCreate.vue';

export default Vue.extend({
  name: 'App',

  components: {
    ToDoListCreate,
    ToDoLists,
  },

  data() {
    return {
      selectedAutocompleteItem: null,
    };
  },

  computed: {
    lists() {
      return this.$store.state.lists;
    },

    items() {
      return this.$store.getters.itemList;
    },
  },

  methods: {
    filterToDoItems(item: ToDoItem, queryText: string) {
      const searchText = queryText.toLowerCase();
      return item.title.indexOf(searchText) > -1;
    },
  },
});
</script>
